<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= button_to 'Syn Product', add_items_path, method: :post, class: 'btn btn-warning mb-3' %>
<%= button_to 'View Cart', view_cart_path, method: :get, class: 'btn btn-primary mb-3' %>

<%= form_with url: add_to_cart_path, method: :post do %>
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3 mb-4"> <!-- 4 columns per row on medium+ screens -->
          <div class="card h-100" style="width: 100%; max-width: 100%; min-height: 400px;">
            <img class="card-img-top" src="<%= product.image %>" alt="Product image" style="height: 150px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text"><%= truncate(product.description, length: 50) %></p>
              <p class="card-text"><strong>Price:</strong> $<%= product.price %></p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <%= check_box_tag 'product_ids[]', product.id %> Add to Cart
              <%= link_to 'Show', product, class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= submit_tag 'Add Selected to Cart', class: 'btn btn-success mt-3' %>
  </div>
<% end %>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
